# Running many simulations to reveal the effects of population size

In [1]:
import pandas as pd
import numpy as np

from IPython.display import display, display_html, display_markdown, clear_output

from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly.graph_objs as go

from simulator import *
from simulator_plotting import *

init_notebook_mode(connected=True)

In [2]:
def many_simulations(landscape, param={}, num=100):
    success_count = 0
    greedy_path = ''
    paths = {}
    for i in range(num):
        results = simulate(landscape, **param)
        if results['T_f'] != -1:
            success_count += 1
        if not greedy_path:
            greedy_path = ','.join(results['greedy_path'])
            paths[greedy_path] = 0
        actual_path = ','.join(results['actual_path'])
        if actual_path in paths:
            paths[actual_path] += 1
        else:
            paths[actual_path] = 1
    return {
        'Success rate': success_count / num,
        '# of paths': len(paths),
        'Path frequencies': paths.values(),
        'Greedy path': greedy_path,
        'Greedy rate': paths[greedy_path] / num
    }

column_names =  ['Success rate', '# of paths', 'Path frequencies', 'Greedy path', 'Greedy rate']   

def many_landscapes(param={}, df=dataset2):
    data = []
    for name, ls in df.iterrows():
        landscape = ls.tolist()
        display('Running simulations on {}...'.format(name))
        row = many_simulations(landscape, param)
        row['Name'] = name
        data.append(row)
    clear_output()
    display(pd.DataFrame(data).set_index('Name').reindex(column_names, axis='columns'))

## K=10^9

In [3]:
many_landscapes()

,Success rate,# of paths,Path frequencies,Greedy path,Greedy rate
Name,,,,,
AMP,0.0,1,(100),"0000,0001,0011",1.00
AM,0.0,1,(100),"0000,0010",1.00
CEC,0.0,1,(100),"0000,0100",1.00
CTX,0.0,1,(100),"0000,0010,0011",1.00
ZOX,0.0,2,"(0, 100)","0000,0010,0011,0111",0.00
CXM,0.0,1,(100),"0000,0100",1.00
CRO,0.0,3,"(58, 17, 25)","0000,0100",0.58
AMC,0.0,1,(100),"0000,0100",1.00
CAZ,1.0,2,"(0, 100)","0000,0001,0101",0.00
CTT,0.0,1,(100),"0000,0100",1.00
SAM,1.0,2,"(57, 43)","0000,0001,1001,1101,1111",0.57
CPR,1.0,1,(100),"0000,0100,0101",1.00
CPD,1.0,2,"(98, 2)","0000,0010,0011,0111,1111",0.98
TZP,1.0,2,"(99, 1)","0000,0100,0101",0.99
FEP,0.0,1,(100),0000,1.00

## K=10^8

In [4]:
many_landscapes({'carrying_cap': int(1.0e8), 'prob_mutation': 1.0e-7})

,Success rate,# of paths,Path frequencies,Greedy path,Greedy rate
Name,,,,,
AMP,0.00,1,(100),"0000,0001,0011",1.00
AM,0.00,1,(100),"0000,0010",1.00
CEC,0.00,1,(100),"0000,0100",1.00
CTX,0.00,1,(100),"0000,0010,0011",1.00
ZOX,0.00,2,"(0, 100)","0000,0010,0011,0111",0.00
CXM,0.00,1,(100),"0000,0100",1.00
CRO,0.00,3,"(49, 31, 20)","0000,0100",0.49
AMC,0.01,2,"(99, 1)","0000,0100",0.99
CAZ,1.00,2,"(0, 100)","0000,0001,0101",0.00
CTT,0.00,1,(100),"0000,0100",1.00
SAM,1.00,2,"(59, 41)","0000,0001,1001,1101,1111",0.59
CPR,1.00,1,(100),"0000,0100,0101",1.00
CPD,1.00,2,"(90, 10)","0000,0010,0011,0111,1111",0.90
TZP,1.00,2,"(99, 1)","0000,0100,0101",0.99
FEP,0.00,1,(100),0000,1.00

## K=10^7

In [5]:
many_landscapes({'carrying_cap': int(1.0e7), 'prob_mutation': 1.0e-6})

,Success rate,# of paths,Path frequencies,Greedy path,Greedy rate
Name,,,,,
AMP,0.00,1,(100),"0000,0001,0011",1.00
AM,0.00,1,(100),"0000,0010",1.00
CEC,0.00,1,(100),"0000,0100",1.00
CTX,0.00,1,(100),"0000,0010,0011",1.00
ZOX,0.00,2,"(0, 100)","0000,0010,0011,0111",0.00
CXM,0.05,2,"(95, 5)","0000,0100",0.95
CRO,0.00,3,"(36, 44, 20)","0000,0100",0.36
AMC,0.01,2,"(99, 1)","0000,0100",0.99
CAZ,1.00,2,"(0, 100)","0000,0001,0101",0.00
CTT,0.01,2,"(99, 1)","0000,0100",0.99
SAM,1.00,4,"(52, 46, 1, 1)","0000,0001,1001,1101,1111",0.52
CPR,1.00,2,"(99, 1)","0000,0100,0101",0.99
CPD,1.00,2,"(89, 11)","0000,0010,0011,0111,1111",0.89
TZP,1.00,2,"(93, 7)","0000,0100,0101",0.93
FEP,0.08,4,"(90, 6, 2, 2)",0000,0.90

## K=10^6

In [6]:
many_landscapes({'carrying_cap': int(1.0e6), 'prob_mutation': 1.0e-5})

,Success rate,# of paths,Path frequencies,Greedy path,Greedy rate
Name,,,,,
AMP,0.00,2,"(95, 5)","0000,0001,0011",0.95
AM,0.00,1,(100),"0000,0010",1.00
CEC,0.00,4,"(93, 3, 3, 1)","0000,0100",0.93
CTX,0.06,3,"(94, 4, 2)","0000,0010,0011",0.94
ZOX,0.00,2,"(1, 99)","0000,0010,0011,0111",0.01
CXM,0.25,4,"(75, 23, 1, 1)","0000,0100",0.75
CRO,0.01,4,"(24, 19, 56, 1)","0000,0100",0.24
AMC,0.13,3,"(87, 11, 2)","0000,0100",0.87
CAZ,1.00,3,"(0, 99, 1)","0000,0001,0101",0.00
CTT,0.05,3,"(95, 3, 2)","0000,0100",0.95
SAM,1.00,6,"(53, 41, 3, 1, 1, 1)","0000,0001,1001,1101,1111",0.53
CPR,1.00,1,(100),"0000,0100,0101",1.00
CPD,1.00,2,"(87, 13)","0000,0010,0011,0111,1111",0.87
TZP,1.00,2,"(88, 12)","0000,0100,0101",0.88
FEP,0.36,10,"(31, 28, 28, 3, 3, 2, 1, 1, 2, 1)",0000,0.31